.calcular-wrapper{
    @apply bg-background-200 p-8 w-fit mt-8 mx-auto rounded-lg;
}
.title{
    @apply text-3xl font-bold text-center mb-4;
}
.calculator {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f7f7f7;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
    .calculator-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 1.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      outline: none;
      text-align: right;
    }
  
    .calculator-buttons {
      text-align: center;
    }
  
    .calculator-button {
      @apply p-4 bg-gray-300 rounded-md text-2xl font-semibold cursor-pointer hover:bg-gray-400 focus:outline-none focus:ring focus:border-blue-300;
    }
  
  